<html lang="en" dir="ltr">

<head>>
    <meta charset="utf-8">
    <title>ToDo-list</title>
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

</head>

<body>
    <div class="box" id="heading">
         <h1> <%= kindOfDay %></h1>

    </div>
    <div class="box">
         <% for (var i=0; i<newlistitem.length; i++ ){ %>
         <div class="item">
             <input type="checkbox">
              <p><%= newlistitem[i] %></p>
         </div>
     
        <% } %>

    <form class="item" action="/" method="post">
        <input type="text" name="newitem" placeholder="I need to do..." autocomplete="off">
        <button type="submit" name="button">+</button>   
    </form>
    </div>
    <a class="cool-link" href="https://github.com/dor105/todo_app">Check out the GitHub repo Project!</a>


    
</body>

</html>